





*{
    font-family: "Antic Slab";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




body{
    background: #464646;
}


.search-cover{
    background: url(/images/louis-hansel-k2ZCm7LCj8E-unsplash.jpg);
    width: 100%;
    height: 80vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}


.search-header{
    width: 100%;
    align-items: center;
    padding: 11px 0;
}

.search-bar button{
    border: 0;
    border-radius: 17px;
    width: 0;
    
}

.white{
    color: white;
}

.main-search{
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
}


.mobile-nav{
    display: block;
    position: fixed;
    width: 60%;
    top: 0;
    right: 180%;
    padding: 190px 50px;
    min-height: 100vh;
    z-index: 98;
    font-weight: bold;
    background: linear-gradient(234deg,  #d4b577f6, #f7bc47f6);
    box-shadow: 10px 1px 70px #ffd17a;
    transition: 7s;
}

.mobile-nav li{
    list-style: none;
}


.mobile-nav.is-active{
    left: 0;
}

.mobile-nav a:hover{
    text-decoration: underline;
    color: #f7f6f5;
}

.mobile-nav li{
    text-decoration: none;
    margin: 11px 0;
}

header{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
}

.hamburger{
    display: block;
    width: 51px;
    /* height: 32px; */
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    position: relative;
}

.hamburger .bar, .hamburger::after, .hamburger::before {
    width: 100%;
    height: .5px;
    background-color: rgb(255, 255, 255);
    margin: 3px -1px;
    transition: .4s;
    content: "";
    display: block;
}

.hamburger.is-active::before{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger.is-active::after{
    transform: rotate(45deg) translate(-5px, -6px);
}

.promo-section h1{
    text-align: center;
    color: white;
    margin: 11px 0;
}

.sponsors{
    text-align: center;
}

.bbc{
    width: 97px;
}

.vodafone{
    width: 97px;
}

.ebay{
    width: 97px;
}

/* .fa-solid{
    color: white;
} */

.btn{
    cursor: pointer;
    padding: 11px;
    cursor: pointer;
    padding: 11px 14px;
    color: white;
    background: #996f3d85;
    border: none;
    border-radius: 33px;
    font-size: 36px;
}

.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 14px 20px;
    font-size: 20px;
}

.search-bar button{
    width: 25px;
    cursor: pointer;
    cursor: pointer;
    padding: 9px 31px;
    color: white;
    background: #996f3d85;
    border: none;
    border-radius: 33px;
    font-size: 36px;
    text-align: center;
}

.fa-magnifying-glass{
    margin: 0 0 0 -15px;
}

.search-bar{
    width: 86%;
    max-width: 700px;
    background: linear-gradient(234deg,  #d4b577f6, #f7bc47f6);
    box-shadow: 10px 1px 10px #ffd17a;
    display: flex;
    padding: 10px 20px;
    border-radius: 60px;
    align-items: center;
    justify-content: center;
}

.foods{
    margin: 11px solid #0cbf33;
    width: 56%;
    background: linear-gradient(234deg,  #92815ff6, #f7bc47f6);
    margin: 23px auto;
    padding: 11px;
    box-shadow: 10px 1px 30px #ffd17a;
    height: 100%;
    border-radius: 11px;

}

.color-code{
    border-radius: 30px;
    color: #000000;
    border: 1.9px solid #bf0;
}

.footer{
    background: #000000;
    width: 100%;
    height: 98px;
    padding: 11px 2px;
}

#consent-popup{
    position: fixed;
    bottom: 0;
    left: 0;
    transition: opacity 0.8s ease-in-out;
    right: 0;
    width: 100%;
    height: 100px;
    padding: 18px 19px;
    z-index: 1000;
    display: flex;
    align-items: center;
    background: linear-gradient(125deg, #836d45f6, #0d0f0ff8);
    color: rgb(255, 255, 255);
}

.link-consent{
    text-decoration: none;
    color: wheat;
    transition:  0.5s;
}

.link-consent:hover{
    text-decoration: underline;
}


.hidden{
    opacity: 0;
    ;
}


.cookie{
    width: 87px;
}

#search{
    color: white;
    width: 77%;
    margin: auto;
    background:linear-gradient(299deg, #057550da, #6d0805e8) ;
    height: 47px;
    border-radius: 5px;
    border: 2px solid rgb(204, 14, 14);
    outline: none;
}



@media(max-width: 991px){
    .showcase, .showcase header{
        padding: 30px;
    }

    .text h2 {
        font-size: 25px;
    }
}







.search-wrapper{
    display: flex;
    flex-direction: column;
    gap: .24rem;
}

input{
    font-size: 1rem;
}

.user-cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: .25rem;
    margin-top: 1rem;
}

.card{
    border-radius: 17px;
    border: 1px solid rgb(255, 255, 255);
    background:linear-gradient(299deg, #057550e3, #6d0905) ;
    box-shadow: 5px 4px 7px #7fffd478;
    padding: 0.5rem;
    color: rgb(245, 242, 236);
}

.meal{
    width: 154px;
}

.rice{
    width: 120px;
}

.user-cards{
    padding: 30px ;
}